
bam
.bam
config.lua
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated
SDL.dll
autoexec.cfg

crapnet*
dilate*
fake_server*
map_resave*
mastersrv*
packetgen*
teeworlds*
teeworlds_srv*
tileset_borderfix*
versionsrv*
cleaner.sh
finder.sh
gdb.txt
script.sh
unittest_t*
Makefile
Doxyfile
html

bin/


unittest_t
cleaner.sh
gdb.txt
script.sh
finder.sh
*~
